<%= @title %>
<h1>Welcome to my life...</h1>
<p>This app tells eveything about me(Rohit Bhardwaj). My thoughts my knowledge everything I think about... </p>
<p>I would tell you every thing what I want to prove in my life. What I want to achieve in my life... </p>
<p> There are people I care, I would protect them no matter what. </p>

<%= link_to "My Love", :action =>"mylove" %>
