<footer>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p> This is my personal App and you are not supposed to read this. But don't worry, I don't mind if you're gonna read It's allright. Just don't judge me. Thanks :) :)
</p>
&copy <%= Time.now.year %>

</footer>
